/*List controller */

table.kMatrix {
	margin-top:1em;
	width:100%;
}

table.kMatrix caption {
	text-align: left;
	padding:.3em;
}

table.kMatrix th {
    padding: 3px;
}


table.kMatrix th span.order {
    float:right;
}


table.kMatrix td {
    padding: 3px;
}

.odd {
    background:transparent none;
}

.generalOptionsToolbar {
	padding:1em;
	margin:1em 0 1em 0;  
}

/* Form */

.klearMatrix_form {
	margin:1em;
		
}

.klearMatrix_form fieldset {
	padding:1em;
	width:48%;
}

.klearMatrix_form legend {
	padding:.4em;
}

.klearMatrix_form p {
	padding:.8em;
	margin:.3em 0;
}

.klearMatrix_form label {
	font-weight: bold;
    display:block;
    margin-bottom:.2em;
}

.pointer {
	cursor:pointer;
}

.klearMatrix_form .fieldDisabled {
	border:0;
}

.paginator {
    clear: both;
    margin: 0.2em;
    overflow: hidden;
    padding: 0.5em;
    
}

.paginator a {
    display: block;
    float: left;
    height: 1.2em;
    text-align: center;
    width: 1.2em;
    margin:0.3em;
    text-decoration:none;
}

	