/*List controller */

table.kMatrix {
    margin-top:1em;
    width:100%;
}

table.kMatrix caption {
    text-align: left;
    padding:.3em;
    font-size:1.1em;
}

table.kMatrix caption span.extraCaptionInfo {
    font-size: .8em;
    float: right;
}
table.kMatrix caption span.extraCaptionInfo input {
    width: 4em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table.kMatrix th {
    padding: 3px;
}


table.kMatrix th span.order {
    float:right;
}

table.kMatrix td {
    padding: 3px;
}

table.kMatrix td.options {
}


table.kMatrix td.options span.recordCount {
  background-color: white;
  opacity:0.6;
  font-size: 0.6em;
  display: inline-block;
  width: 1.5em;
  left: -5px;
  position: relative;
  top: 5px;
}

table.kMatrix td.options span.alertCount {
    background-color: #f00;
    border-radius: 1.5em;
    color: #fff;
    display: inline-block;
    font-size: 0.6em;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    opacity: 0.9;
    position: relative;
    text-align: center;
    top: 3px;
    left: -5px;
    
}
.odd {
    background:transparent none;
}

.hidden {
    display:none;
}
table.kMatrix .multilangValue {
    display:none;

}

table.kMatrix .multilangValue.selected {
    display:block;
    overflow:hidden;
}

table.kMatrix .multilangValue span.langIden {
    padding-left:2px;
}

table.kMatrix .mlTag {
    float:right;
    cursor:pointer;
}


.generalOptionsToolbar {
    padding:1em;
    margin:1em 0 1em 0;
}

/* Form */

.klearMatrix_form {
    margin:1em;

}

.klearMatrix_form select.multiselect {
    width:350px;
}

.klearMatrix_form fieldset {
    padding:1em;
    width:50%;
}

.klearMatrix_form legend {
    padding:.4em;
}

.klearMatrix_form p,
.klearMatrix_form div.container {
    padding:.8em;
    margin:.3em 0;
}

.klearMatrix_form label {
    font-weight: bold;
    display:block;
    margin-bottom:.2em;
}

.klearMatrix_form label.inline {
    display:inline-block;
}

.klearMatrix_form label.lang {
    display:block;
    font-size:0.7em;
    float:left;
    margin:4px 5px 0 0;
    opacity:0.4;
    width:4em;
    clear:both;
    text-align:right;
}

.klearMatrix_form textarea {

    width: 90%;
}

.pointer {
    cursor:pointer;
}

.klearMatrix_form .fieldDisabled {
    border:0;
}

.klearMatrix_form .klearMatrix_file {
    display:block;
    padding:0.4em;
    margin:0.5em 0;
}

.klearMatrix_form .newFile {
    display:none;
}

.klearMatrix_form .qq-uploader {
    margin:0.5em 0;
}

.klearMatrix_form .qq-upload-button {
    padding:0.5em;
    width:10em;
}

.klearMatrix_form li {
    list-style: none;
    margin: 10px;
}

.klearMatrix_form li label {
    font-weight: normal;
    margin-left: 30px;
}

.klearMatrix_form span.selectable {
    display:inline-block; width:15px; height:15px; margin:0 3px; clear:both;
}

.klearMatrixFilteringForm span.selectable {
    display:inline-block; width:15px; height:15px; margin:0 3px; clear:none; overflow:hidden; vertical-align:middle;
}
.paginator {
    clear: both;
    margin: 0.2em;
    overflow: hidden;
    padding: 0.5em;

}

.paginator a {
    display: block;
    float: left;
    height: 1.2em;
    text-align: center;
    width: 1.2em;
    margin:0.3em;
    text-decoration:none;
}

a.ui-state-nojump {
    border: 1px solid transparent;
    text-decoration:none;
}

.klearMatrix_form .autoClose {
    font-size: 0.8em;
    margin-top: .3em;
    padding:.5em;
}


.klearMatrixFiltering,
.klearMatrixCsv {
    padding:.8em;
    overflow: hidden;
}

.klearMatrixFiltering form.not-loaded .filterItem, .klearMatrixFiltering form.not-loaded .filteredFields{
    display:none;
}

.klearMatrixFiltering form.not-loaded .title {
    margin:0;
}

.klearMatrixFiltering p.title,
.klearMatrixCsv p.title {
    margin:0em;
    font-size:1em;
    cursor:pointer;
}

.klearMatrixFiltering span.ui-silk,
.klearMatrixCsv span.ui-silk {
    margin: 0 .5em;
}

.klearMatrixFiltering input.term {
    width:205px;
    padding: 0.3em;
}

 .klearMatrixFiltering .filterItem {
    margin-left: 3em;
    padding-top:.5em;
    float:left;
    clear: both;
 }

 .klearMatrixFiltering .addTerm {
    cursor:pointer;
 }

 .klearMatrixFiltering .addToggle {
     padding-top:.8em;
     display:inline-block;
 }
 .klearMatrixFiltering .disabled {
    cursor:default;
 }

 .klearMatrixFiltering .filteredFields {
    float: left;
    margin-left: 3em;
}



.klearMatrixFiltering .filteredFields .field {
    padding:.8em;
    display:block;
}
.klearMatrixFiltering .filteredFields .field .content {
    padding: .5em;
    margin: -.5em .3em 0 .3em;
}
.klearMatrixFiltering .filteredFields .field .ui-silk {
    cursor:pointer;
}

.klearMatrixFiltering .searchOption {
    display:none;
    margin-right:1em;
}

.klearMatrixFiltering .searchOption select {
    width:35px;
}

.fieldInfo-tooltip {
    cursor:help;
}

.fieldInfo-box {
    cursor:pointer;
}

.fieldInfo-boxinfo {
    margin: 0.2em 0 0.4em;
}



.fieldInfo-position-left {
        float: left;
        margin: -0.2em 0.2em 0 0;

}
.fieldInfo-position-right {
        float: right;

}

.assistant {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    padding: 0.6em 1em;
}

.assistant p {
    padding:1em;
    width:auto;
}

span.klearFieldError {
    padding:.6em;
    margin:.3em;
    display:block;
    overflow: hidden;
}

span.klearFieldError span {
    float:left;
}

span.klearFieldError span.content {
    margin-left:20px;
}


@media screen and (max-width: 680px){
    .klearMatrix_form fieldset {
        width:92%;
    }
}

div.klearMatrixDashboard h1 {
    padding:.7em;
    margin: .2em .1em .7em .1em;
    font-size: 1.2em;

}

div.klearMatrixDashboard fieldset {
    width:25%;
    padding:1em;
    margin:0 1em 1em;
}

div.klearMatrixDashboard fieldset.legacy {
    float:left;
}

div.klearMatrixDashboard fieldset ul {
    list-style:none;
}

div.klearMatrixDashboard fieldset a, div.klearMatrixDashboard fieldset a:active, div.klearMatrixDashboard fieldset a:hover {
    text-decoration:none;
}
div.klearMatrixDashboard fieldset li strong {
    float:right;
}

div.klearMatrixDashboard fieldset legend {
    padding: .3em;
}

.right {
    float:right;
}

img.imgFilePreview {
    border:1px solid #333;
    padding:.5em;
}
}