/*List controller */
table.kMatrix {
    margin-top: 0;
    width:100%;
}

table.kMatrix caption {
    text-align: left;
    padding:.3em;
    font-size:1.1em;
}

table.kMatrix caption span.extraCaptionInfo {
    font-size: .8em;
    float: right;
}
table.kMatrix caption span.extraCaptionInfo input {
    width: 4em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


table.kMatrix th {
    padding: 3px;
}


table.kMatrix th span.order {
    float:right;
}

table.kMatrix td {
    padding: 3px;
    vertical-align: middle;
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.kMatrix th.multiItem, table.kMatrix td.multiItem {
    width:1em;
    text-align: center;
}

table.kMatrix td.options {
}


table.kMatrix td.options span.recordCount {
  background-color: white;
  opacity:0.6;
  font-size: 0.8em;
  display: inline-block;
  width: auto;
  left: -4px;
  position: relative;
  top: 3px;
}

table.kMatrix td.options span.alertCount {
    background-color: #f00;
    border-radius: 1.5em;
    color: #fff;
    display: inline-block;
    font-size: 0.6em;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    opacity: 0.9;
    position: relative;
    text-align: center;
    top: 3px;
    left: -5px;

}
.odd {
    background:transparent none;
}

.hidden {
    display:none;
}

.centered {
    text-align: center;
}


table.kMatrix .multilangValue {
    display:none;

}

table.kMatrix .multilangValue.selected {
    display:block;
    overflow:hidden;
}

table.kMatrix .multilangValue span.langIden {
    padding-left:2px;
}

table.kMatrix .mlTag {
    float:right;
    cursor:pointer;
}


dl.multiLanguage {
    order: 1px solid red;
    clear: both;
    display: inline-block;
    width: 100%;
}

dl.multiLanguage div.buttonWrapper {
    float:right;
    margin-right: 3.5em;
}

dl.multiLanguage div.buttonWrapper label {
    float: left;
}
dl.multiLanguage div.textAreaBox {
    clear: both;
}

dl.multiLanguage dt {
    margin:0.5em 0.25em;
    width:2em;
    clear: both;
    float:left;
    display:block;
    text-align: right;
}

dl.multiLanguage dd {
    margin:.25em;
    width:80%;
    float:left;
    display:block;
}

dl.multiLanguage dt.selected label {
    font-size:.9em;
    opacity: 0.8;

}
dl.multiLanguage dd.copied input, dl.multiLanguage dd.copied textarea {
    color: #ccc;
}

dl.multiLanguage dd.copied span.copied {
    margin-left: .25em;
}

.generalOptionsToolbar {
    padding:1em 0;
    margin: 0;
    clear: both;
}

.generalOptionsToolbar.topToolbar {
    margin-bottom: -2em;
    margin-top: 0;
}

.generalOptionsToolbar.bottomToolbar {
    margin-bottom: 0;
    clear: none;
}

/* Form */

.klearMatrix_form {
    margin:1em;

}

.klearMatrix_form select.multiselect {
    width:350px;
}

.klearMatrix_form fieldset {
    padding:1em;
    width:50%;
    min-width:700px;
}

.klearMatrix_form fieldset.fullWidth {
    width: auto;
}

.klearMatrix_form legend {
    padding:.4em;
}

.klearMatrix_form p,
.klearMatrix_form div.container {
    padding:.8em;
    padding-rigth:0;
    margin:.3em 0;
}

.klearMatrix_form div.containerFixed {
    display: inline-block;
    vertical-align: top;
}

.klearMatrix_form fieldset.superContainer {
    padding:0.4em 0;
    margin: 1.4em 0 0.4em 0;
    width:100%;
    text-align: justify;
    position: relative;
}

.klearMatrix_form fieldset.superContainer legend {
    position:absolute;
    top:-1em;
    left:1em;
}

.klearMatrix_form fieldset.superContainer div.containerFixed {
  border:0;
}


.klearMatrix_form label {
    font-weight: bold;
    display:block;
    margin-bottom:.2em;
}

.klearMatrix_form label.inline {
    display:inline-block;
}

.klearMatrix_form label.lang {
    display:block;
    font-size:0.7em;
    opacity:0.4;
}

.klearMatrix_form label.autoCompleteLabel {
    font-size: .8em;
    margin: 15px 0px 5px;
    color: #555;
}

.klearMatrix_form textarea {

    width: 90%;
}

.pointer {
    cursor:pointer;
}

.klearMatrix_form .fieldDisabled {
    border:0;
}

.klearMatrix_form .klearMatrix_file {
    display:block;
    padding:0.4em;
    margin:0.5em 0;
}

.klearMatrix_form .newFile {
    display:none;
}

.klearMatrix_form .qq-uploader {
    margin:0.5em 0;
}

.klearMatrix_form .qq-upload-button {
    padding:0.5em;
    width:10em;
}

.klearMatrix_form li {
    list-style: none;
    margin: 10px;
}

.klearMatrix_form li label {
    font-weight: normal;
    margin-left: 30px;
}

.klearMatrix_form img.mapImg {
    margin-top: 10px;
}

.klearMatrix_form span.selectable {
    display:inline-block; width:15px; height:15px; margin:0 3px; clear:both;
}

.klearMatrixFilteringForm span.selectable {
    display:inline-block; width:15px; height:15px; margin:0 3px; clear:none; overflow:hidden; vertical-align:middle;
}
.paginator {
    clear: both;
    overflow: hidden;
    padding: 3px;
    margin: 3px 0 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom-width: 0;
    float: right;
}

.paginator a {
    display: block;
    float: left;
    height: 1.2em;
    text-align: center;
    min-width: 1.2em;
    width: auto;
    margin:0.3em;
    text-decoration:none;
}

.bottomPaginator .paginator {
    margin: 0;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    border-bottom-width: 1px;
}
a.ui-state-nojump {
    border: 1px solid transparent;
    text-decoration:none;
}

.klearMatrix_form .autoClose {
    font-size: 0.8em;
    margin-top: .3em;
    padding:.5em;
}

form.klearMatrix_form.autoclose-dialog {
   clear: both;
   font-size: 0.8em;
   margin: 0;
   text-align: right;
}

.klearMatrixFiltering,
.klearMatrixCsv {
    display: inline-block;
    margin: 0 0 0.5% 0;
    padding: 0.5%;
    width: 99%;
}

.klearMatrixFiltering form.not-loaded .filterItem, .klearMatrixFiltering form.not-loaded .filteredFields{
    display:none;
}

.klearMatrixFiltering form.not-loaded .title {
    margin:0;
}

.klearMatrixFiltering p.title,
.klearMatrixCsv p.title {
    margin:0em;
    font-size:1em;
    cursor:pointer;
}

.klearMatrixFiltering p.title {
  float:left;
}

.klearMatrixFilteringForm .applyFilters {
    margin-left: 25px;
    margin-top: 9px;
    font-size: 0.8em;
    float:left;
}

.klearMatrixFiltering span.ui-silk,
.klearMatrixCsv span.ui-silk {
    margin: 0.5em;
}

.klearMatrixFiltering input.term {
    margin: -0.3em 1em 0 0;
    padding: 0.3em;
    vertical-align: text-top;
    width: 205px;
}

 .klearMatrixFiltering .filterItem {
    margin-left: 3em;
    padding-top:.5em;
    float:left;
    clear: both;
 }

 .klearMatrixFiltering .addTerm {
    cursor:pointer;
 }

 .klearMatrixFiltering .addToggle {
     padding-top:.8em;
     display:inline-block;
 }
 .klearMatrixFiltering .disabled {
    cursor:default;
 }

 .klearMatrixFiltering .filteredFields {
    float: left;
    margin-left: 3em;
}



.klearMatrixFiltering .filteredFields .field {
    padding:.8em;
    display:block;
}
.klearMatrixFiltering .filteredFields .field .content {
    padding: .5em;
    margin: -.5em .3em 0 .3em;
}
.klearMatrixFiltering .filteredFields .field .ui-silk.removable {
    cursor:pointer;
}

.klearMatrixFiltering .searchOption {
    display:none;
    margin-right:1em;
}

.klearMatrixFiltering .searchOption select {
    width:35px;
}

.klearMatrixFilteringForm p.preconfiguredFilters {
  text-align:left;
  margin-bottom: 0.5em;
}

.fieldInfo-tooltip {
    cursor:help;
}

.fieldInfo-box {
    cursor:pointer;
}

.fieldInfo-boxinfo {
    margin: 0.2em 0 0.4em;
}



.fieldInfo-position-left {
        float: left;
        margin: -0.2em 0.2em 0 0;

}
.fieldInfo-position-right {
        float: right;

}

.assistant {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    padding: 0.6em 1em;
}

.assistant p {
    padding:1em;
    width:auto;
}

span.klearFieldError {
    padding:.6em;
    margin:.3em;
    display:block;
    overflow: hidden;
}

span.klearFieldError span {
    float:left;
}

span.klearFieldError span.content {
    margin-left:20px;
}


@media screen and (max-width: 680px){
    .klearMatrix_form fieldset {
        width:92%;
    }
}

div.klearMatrixDashboard h1 {
    padding:.7em;
    margin: .2em .1em .7em .1em;
    font-size: 1.2em;

}

div.klearMatrixDashboard fieldset {
    width:25%;
    padding:1em;
    margin:0 1em 1em;
}

div.klearMatrixDashboard fieldset.legacy {
    float:left;
}

div.klearMatrixDashboard fieldset ul {
    list-style:none;
}

div.klearMatrixDashboard fieldset a, div.klearMatrixDashboard fieldset a:active, div.klearMatrixDashboard fieldset a:hover {
    text-decoration:none;
}
div.klearMatrixDashboard fieldset li strong {
    float:right;
}

div.klearMatrixDashboard fieldset legend {
    padding: .3em;
}

.right {
    float:right;
}

img.imgFilePreview {
    border:1px solid #333;
    padding:.5em;
}
img.imgFilePreviewList {
    border:0;
    margin-right:.5em;
    vertical-align: text-bottom;
}

.filterItem span.infoShow {
  cursor: pointer;
}

.filterItem .infoDiv {
  background-color: ghostwhite;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 0.9em;
  max-width: 70%;
}

.filterItem .infoDiv ul {
  padding: 5px 25px;
  list-style-type: square;
}

.filterItem .infoDiv ul li:not(:last-child) {
  margin-bottom: 3px;
}

.filterItem .infoDiv p {
  margin: 5px 0;
}

span.autocompleteCounter {
  font-size: 0.8em;
  border: 1px solid #aaa;
  color: #aaa;
  padding: .2em;
  margin-left: .5em;
}

.deleteable-item,
.updateable-item,
.clonable-item {
  font-size:0.7em;
  opacity:0.8;
  margin-top: 0.8em;
}

.updateable-control {
    margin-top: 1em;
    text-align: center;
}

a.option {
  white-space: nowrap;
}

/********* CSS para la opción FixedPositions *********/

/* Para todos los campos dentro del FixedPosition */
fieldset .containerFixed input, fieldset .containerFixed .selectboxit-container, fieldset .containerFixed .selectboxit-container .selectboxit {
  width: 90%!important;
}

/* Para el campo autocomplete */
fieldset .containerFixed input.ui-autocomplete-input {
  width: 85%!important;
}

/* Para el campo requerido */
fieldset .containerFixed input:required {
  width: 80%!important;
}

/* Para el campo numérico */
fieldset .containerFixed input.auto {
    width: 45%!important;
}

fieldset .containerFixed span.ui-combobox {
    display: inline;
    width: 100%;
}

fieldset .containerFixed a._fieldOption {
    float: left;
    margin: 8px 0 0 0;
}

fieldset .containerFixed ul.ghostList a._fieldOption {
    float: none;
}


fieldset .containerFixed a._fieldOption span {
    margin-top: -3px;
}

div.size-indicator {
    font-weight: normal;
    padding-top:0.2em;
    font-size: 0.7em;
}

div.size-indicator span.zero{
    font-weight: bold;
}

ul.ghostList {
	display: table;
    max-height: 200px;
    width: 300px;
    overflow: hidden;
}
div.ghostTableContainer {
  height: 150px;
    max-height: 200px;
    width: auto;
    overflow: hidden;
}
ul.ghostList li{
  margin: 0px;
  border: none;
  display: table-row;
}
ul.ghostList li.highlight{
  background: #e9e9e9;
}
ul.ghostList li a{
  display: table-cell;
}


div.ghostListCounter {
  margin: 0.5em 0;
}
div.ghostListCounter span.ui-icon {
  float:left;
}
table.kMatrix div.ghostListCounter {
  display: none;
}
div.ghostTableCounter {
    margin: 0.5em 0;
}
div.ghostTableCounter span.ui-icon {
    float:left;
}
table.kMatrix div.ghostTableCounter {
    display: none;
}

table.kMatrix ul.ghostList {
  border:0;
  width:auto;
  height: auto;
}

fieldset .containerFixed ul.ghostList {
    width: auto;
}

ul.ghostList:hover {
    overflow: auto;
}
div.ghostTableContainer:hover {
    overflow: auto;
}
.postActionOptionsListUL {
    list-style: none;
    margin: 10px 0 0px 0;
    padding: 5px 0 5px 5px;
}

.postActionOptionsListUL li{
    display: inline;
  margin: 0 7px 0 0;
  padding: 2px;
}


.spining {
  -webkit-animation: spining 2s infinite linear;
  -moz-animation: spining 2s infinite linear;
  -o-animation: spining 2s infinite linear;
  animation: spining 2s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

@-moz-keyframes spining {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spining {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
  * Img in Select's
  */
.select-img-previe {
    float: inherit;
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    position: relative;
    display: inline-block;
}

.select-img-previe img {
    width: 32px !important;
    height: 32px !important;
}