/*List controller */

table.kMatrix {
	margin-top:1em;
	width:100%;
}

table.kMatrix caption {
	text-align: left;
	padding:.3em;
	font-size:1.1em;
}

table.kMatrix th {
    padding: 3px;
}


table.kMatrix th span.order {
    float:right;
}

table.kMatrix td {
    padding: 3px;
}

.odd {
    background:transparent none;
}

.hidden {
    display:none;
}
table.kMatrix .multilangValue {
	display:none;
	
}

table.kMatrix .multilangValue.selected {
	display:block;
	overflow:hidden;
}

table.kMatrix .multilangValue span.langIden {
	padding-left:2px;
}

table.kMatrix .mlTag {
	float:right;
	cursor:pointer;
}


.generalOptionsToolbar {
	padding:1em;
	margin:1em 0 1em 0;  
}

/* Form */

.klearMatrix_form {
	margin:1em;
		
}

.klearMatrix_form select.multiselect {
    width:350px;
}

.klearMatrix_form fieldset {
	padding:1em;
	width:48%;
}

.klearMatrix_form legend {
	padding:.4em;
}

.klearMatrix_form p {
	padding:.8em;
	margin:.3em 0;
}

.klearMatrix_form label {
	font-weight: bold;
    display:block;
    margin-bottom:.2em;
}

.klearMatrix_form label.lang {
    display:block;
    font-size:0.8em;
    float:left;
    margin:4px 5px 0 0;
    opacity:0.5;
    width:2em;
}

.pointer {
	cursor:pointer;
}

.klearMatrix_form .fieldDisabled {
	border:0;
}

.klearMatrix_form .klearMatrix_file {
    display:block;
    padding:0.4em;
    margin:0.5em 0;
}

.klearMatrix_form .newFile {
    display:none;
}

.klearMatrix_form .qq-uploader {
    margin:0.5em 0;
}

.klearMatrix_form .qq-upload-button {
    padding:0.5em;
    width:10em;
}
 
.paginator {
    clear: both;
    margin: 0.2em;
    overflow: hidden;
    padding: 0.5em;
    
}

.paginator a {
    display: block;
    float: left;
    height: 1.2em;
    text-align: center;
    width: 1.2em;
    margin:0.3em;
    text-decoration:none;
}

a.ui-state-nojump {
    border: 1px solid transparent;
}

.klearMatrix_form .autoClose {
    font-size: 0.8em;
    margin-top: .3em;
    padding:.5em;
}

.klearMatrixFiltering {
    padding:.8em;
    overflow: hidden;
 }

.klearMatrixFiltering form.not-loaded .filterItem, .klearMatrixFiltering form.not-loaded .filteredFields{
    display:none;
}

.klearMatrixFiltering form.not-loaded .title {
    margin:0;
}    

.klearMatrixFiltering p.title {
    margin:0em;
    font-size:1em;
    cursor:pointer;
 }
 
 .klearMatrixFiltering span.ui-silk {
    margin: 0 .5em;
 }
 
 
 
.klearMatrixFiltering input.term {
    width:205px;
}

 .klearMatrixFiltering .filterItem {
	margin-left: 3em;
	padding-top:.5em;
	float:left;
    clear: both;
 }
 
 .klearMatrixFiltering .addTerm {
    cursor:pointer;
 }
 
 .klearMatrixFiltering .addToggle {
 	padding-top:.8em;
 	display:inline-block;
 }
 .klearMatrixFiltering .disabled {
    cursor:default;
 }
 
 .klearMatrixFiltering .filteredFields {
    float: left;
    margin-left: 3em;
}


 
 .klearMatrixFiltering .filteredFields .field {
    padding:.6em .6em;
    display:block;
}
.klearMatrixFiltering .filteredFields .field .content {
    white-space:nowrap;
    padding: .3em;
    margin: .3em;
}
.klearMatrixFiltering .filteredFields .field .ui-silk {
    cursor:pointer;
}


.fieldInfo-tooltip {
    cursor:help;
}

.fieldInfo-box {
    cursor:pointer;
}

.fieldInfo-boxinfo {
    margin: 0.2em 0 0.4em;
}



.fieldInfo-position-left {
        float: left;
        margin: -0.2em 0.2em 0 0;
    
}
.fieldInfo-position-right {
        float: right;
    
}